.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    border: 1px solid #ddd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

.back-to-top.show {
    opacity: 1;
    pointer-events: all;
}

pre,code {
    font-family: 'Hack','Noto Sans JP',monospace;
}